.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}



#main_menu li {
    list-style: none;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    color: black;
}

#main_menu li a {
    color: black;
}

#menu li a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#footer li {
    list-style: none;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    color: black;
}

/* Dropdown */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.monospaced
{
    font-family: 'Ubuntu Mono', monospaced ;
}

.add-to-cart .btn-qty
{
    width: 52px;
    height: 46px;
}
.add-to-cart .btn
{ border-radius: 0; }



